*.patch     whitespace=-blank-at-eol,-space-before-tab -text -crlf

testing/data/**/* filter=lfs diff=lfs merge=lfs -text
testing/baselines/**/* filter=lfs diff=lfs merge=lfs -text
testing/data/DATA_LICENSES.md !filter !diff !merge text
