name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: '${{ github.workflow }}-${{ github.ref_name }}'
  cancel-in-progress: true

jobs:
  build_and_package:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]
        raytracing_label: [raytracing, no-raytracing]

    runs-on: ${{matrix.os}}
    container: ${{ matrix.os == 'ubuntu' && 'ghcr.io/f3d-app/f3d-ci' || null }}

    env:
      DISPLAY: :0

    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        path: 'source'
        submodules: true
        lfs: true

    - name: Build and package F3D
      uses: ./source/.github/actions/f3d-superbuild/
      with:
        f3d_version: origin/master
        raytracing_label: ${{matrix.raytracing_label}}
