name: Release

on:
  workflow_dispatch:
    inputs:
      f3d_version:
        description: 'F3D version to build'
        required: true
        default: 'v1.3.1'
      sb_branch:
        description: 'Superbuild branch/tag to use'
        required: true
        default: 'main'
      publish_assets:
        description: 'Publish assets to a prerelease'
        required: true
        default: 'false'

jobs:
  build_and_package:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        enable_raytracing: [true, false]

    runs-on: ${{matrix.os}}
    container: ${{ matrix.os == 'ubuntu-latest' && 'ghcr.io/f3d-app/f3d-ci' || null }}

    env:
      DISPLAY: :0

    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        path: 'source'
        submodules: 'true'
        lfs: 'true'
        ref: ${{ github.event.inputs.sb_branch}}

    - name: Build and package F3D
      uses: ./source/.github/actions/f3d-superbuild/
      with:
        f3d_version: ${{github.event.inputs.f3d_version}}
        os: ${{matrix.os}}
        enable_raytracing: ${{matrix.enable_raytracing}}

    - name: Publish assets
      if: ${{ github.event.inputs.publish_assets == 'true' }}
      uses: ncipollo/release-action@v1
      with:
        owner: f3d-app
        repo: f3d
        token: ${{ secrets.SECRET_TOKEN }}
        prerelease: true
        allowUpdates: true
        updateOnlyUnreleased: true
        replacesArtifacts: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        tag: ${{github.event.inputs.f3d_version}}
        artifacts: './build/F3D-*'
